<!-- partials pages which is a common page -->

<header>
  <p class="app-Name">THE SOCIAL</p>
  <% if (locals.user){ %>
  <button class="logout-btn">
    <a href="/user/sign-out">Log out</a>
  </button>
  <%} else { %>
  <button class="login-btn">
    <a href="/user/sign-in">Log in</a>
  </button>
  <% } %>
</header>
