<section>
  <form action="?" method="post">
    <label for="email"> Enter email address</label>
    <input type="email" name="email" id="email" required />
    <input type="submit" value="Submit" />
  </form>
</section>
