<h1>sign in page</h1>

<form action="/user/create-session" method="POST">
  <input type="email" placeholder="Enter the Email" name="email" required />
  <input
    type="password"
    placeholder="Enter the Password"
    name="password"
    required
  />
  <input type="submit" value="Sign In" />
</form>
