<link rel="stylesheet" href="/css/signUp.css" />
<section>
  <p>Join the conversation that matters!</p>

  <div class="auth-page">
    <div class="left-section"></div>
    <div class="right-section">
      <div class="app-logo"></div>
      <div class="app-tagline"></div>
      <div class="user-details">
        <form action="/user/create" method="POST">
          <div class="name">
            <input
              type="text"
              placeholder="Enter your Name"
              name="name"
              required
            />
          </div>
          <div class="email">
            <input
              type="email"
              placeholder="Enter the Email"
              name="email"
              required
            />
          </div>
          <div class="pasword">
            <input
              type="password"
              placeholder="Enter the Password"
              name="password"
              required
            />
          </div>
          <div class="confirm_password">
            <input
              type="password"
              placeholder="confirm password"
              name="confirm_password"
              required
            />
          </div>
          <div>
            <button>
              <input type="submit" value="Create Account" />
            </button>
            <button>
              <a href="/user/auth/google">Sign-in with google</a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
