<link rel="stylesheet" href="/css/signUp.css" />
<section>
  <p class="signIn">Sign In</p>
  <div class="auth-page lg">
    <div class="left-section"></div>
    <div class="right-section">
      <div class="app-logo"></div>
      <div class="app-tagline"></div>
      <div class="user-details">
        <form action="/user/create-session" method="POST">
          <div class="email">
            <input
              type="email"
              placeholder="Enter the Email"
              name="email"
              required
            />
          </div>
          <div class="pasword">
            <input
              type="password"
              placeholder="Enter the Password"
              name="password"
              required
            />
          </div>
          <div>
            <button>
              <input class="login" type="submit" value="Login Now" />
            </button>
            <button>
              <a href="/user/auth/google">Sign-in with google</a>
            </button>
          </div>
        </form>
        <div class="forgotPassword">
          <a href="/user/sign-up">Forgot Password </a>
        </div>

        <div class="create-btn">
          <p>dont have Account?</p>
          <a href="/user/sign-up">Register Now </a>
        </div>
      </div>
    </div>
  </div>
</section>
