<link rel="stylesheet" href="<%= assetPath('/css/signUp.css')%>" />
<section>
  <div class="auth-page lg">
    <div class="left-section"></div>
    <div class="right-section">
      <div class="user-details">
        <h2 class="signIn">Sign In</h2>
        <form action="/user/create-session" method="POST">
          <div class="email">
            <input
              type="email"
              placeholder="Enter the Email"
              name="email"
              required
            />
          </div>
          <div class="pasword">
            <input
              type="password"
              placeholder="Enter the Password"
              name="password"
              required
            />
          </div>
          <div>
            <button>
              <input class="login" type="submit" value="Login Now" />
            </button>
            <button>
              <a href="/user/auth/google">Sign-in with google</a>
            </button>
          </div>
        </form>
        <div class="forgotPassword">
          <a href="/user/forgot/Password">Forgot Password! </a>
        </div>

        <p>
          <a href="/user/sign-up">Create Account? </a>
        </p>
      </div>
    </div>
  </div>
</section>
