#user-chat-box{
    position: absolute;
    right: 0;
    bottom: 0;
    width : 400px;
    padding : 10px;
    border: 1px solid red;

    ul{
        
        li{
            width: 100%;   
            span{
                border: 2px solid red;
                font-size: large;
            }
        }

       .self-message{
        text-align: right;
       }
    }
    #chat-message-input-container{
        margin-left: 10%;
          margin-top: 20px;
        input{
            width:60%;
        }
        button{
            font-size: medium;
            border: 2px solid grey;
        }
    }
}