:root{

  --heading-text-size:3rem;

  ---small-text-size:1rem;
  --medium-text-size:1.4rem;
  ---large-text-size:2rem;
  
}


*{
  margin: 0px;
  padding: 0px;
}
.home{
  background-color: #B6C3D3;


 #feed-posts{
  border:1px solid red;
  width: 60%;
  margin: auto;
  p{
    font-size:2rem;
    
  }
  form{
    margin-top: 10px;
    padding: 0 20px;
    div{
      border: 2px solid red;
      border-radius: 10px;
      textarea{
        width: 100%;
        border: none;
        border-bottom: 2px solid green;
        background-color: #B6C3D3;
        opacity: 0.5;
          
      }
    }
    input{
      margin: 10px 0 0 85%;
      border-radius: 10px;
      font-size: 15px;
      width: 7rem;
      height: 30px;
    }
  }
 }

  .main {
    display: flex;
      border: 1px solid red;
      width: 80%;
      margin:auto;
  }
}


