* {
  margin: 0px;
  padding: 0px; }

.timeline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto; }
  .timeline .main {
    flex-basis: 80%;
    padding-top: 20px; }
    .timeline .main #user-tag {
      font-weight: bold;
      font-size: var(--medium-text-size);
      text-align: center; }
    .timeline .main #feed-posts {
      margin: auto;
      width: 40%;
      margin-top: 30px;
      padding: 10px;
      border-radius: 8px;
      border: 2px solid #5D656A;
      box-shadow: 7px 5px 8px 5px #5a6268; }
      .timeline .main #feed-posts form {
        margin-top: 20px; }
        .timeline .main #feed-posts form textarea {
          border: none; }
        .timeline .main #feed-posts form input {
          border: none;
          background-color: black;
          color: white;
          height: fit-content;
          border-radius: 10px;
          padding: 0.5rem 0.5rem;
          font-size: var(---small-text-size);
          width: fit-content;
          margin-top: 10px; }
    .timeline .main #post-container {
      margin: auto;
      margin-top: 30px;
      width: 80%; }
  .timeline .user-friends {
    flex-basis: 20%; }
