:root {
  --heading-text-size:3rem;
  ---small-text-size:1rem;
  --medium-text-size:1.4rem;
  ---large-text-size:2rem; }

* {
  margin: 0px;
  padding: 0px; }

.home {
  background-color: #B6C3D3; }
  .home #feed-posts {
    border: 1px solid red;
    width: 60%;
    margin: auto; }
    .home #feed-posts p {
      font-size: 2rem; }
    .home #feed-posts form {
      margin-top: 10px;
      padding: 0 20px; }
      .home #feed-posts form div {
        border: 2px solid red;
        border-radius: 10px; }
        .home #feed-posts form div textarea {
          width: 100%;
          border: none;
          border-bottom: 2px solid green;
          background-color: #B6C3D3;
          opacity: 0.5; }
      .home #feed-posts form input {
        margin: 10px 0 0 85%;
        border-radius: 10px;
        font-size: 15px;
        width: 7rem;
        height: 30px; }
  .home .main {
    display: flex;
    border: 1px solid red;
    width: 80%;
    margin: auto; }
